/* estilizações gerais */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    min-height: 100dvh;
}

/* centralizando a lista de botões */
ul {
    gap: 2rem;
    width: 100%;
    display: flex;
    list-style: none;
    padding-top: 2rem;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

/*estilos de todos os botões */
button{
    cursor: pointer;
    position: relative;
    transition: .25s ease-in-out;
}

/* primeiro botão */
#botao-um {
    width: 200px;   
    border: none;
    height: 50px;
    outline: none;
    color: #00a030;
    font-weight: 200;
    font-size: 1.25rem;
    border: 1px solid #00a030;
    background-color: transparent;
}
#botao-um::before {
    top: 50%;
    left: 50%;
    width: 50%;
    height: 0%;
    content: '';
    z-index: -1;
    position: absolute;
    transition: .35s ease;
    background-color: #00a030;
    transform: translate(-50%, -50%);
}

/* hover do primeiro botão */
#botao-um:hover { color: #fff }
#botao-um:hover::before{
    width: 100%;
    height: 100%;
}

/* estilizações do segundo botão */
#botao-dois {
    border: none;
    outline: none;
    overflow: hidden;
    color: #7ad1ee;
    padding: 1rem 2rem;
    font-size: 1.25rem;
    border-radius: 50px;
    border: 1px solid #7ad1ee;
    background-color: transparent;
}

#botao-dois::before {
    top: 0;
    z-index: -1;
    left: -100%;
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 50px;
    transition: .25s ease;
    background-color: blue;
}


/* hover do segundo botão */
#botao-dois:hover{ 
    color: #fff; 
    border-color: blue;
}
#botao-dois:hover::before {
    left: 0;
}

